APP_SESSION_SECRET=change-me
OLIST_CLIENT_ID=
OLIST_CLIENT_SECRET=
OLIST_REDIRECT_URI=http://localhost:3600/olist/callback
OLIST_BASE_URL=https://erp.olist.com/
OLIST_AUTH_URL=
OLIST_TOKEN_URL=https://accounts.tiny.com.br/realms/tiny/protocol/openid-connect/token
OLIST_ORDERS_PATH=
RESEND_API_KEY=
RESEND_FROM_EMAIL=financeiro@betinalimpeza.com.br
MASTER_USER_EMAIL=admin@empresa.com
MASTER_USER_PASSWORD=Betin@01012023
